<div *ngFor="let insight of insights">
  <div *ngIf="insight.type === 'tile'" class="tile">
    <h3>{{ insight.title }}</h3>
    <p>{{ insight.value }}</p>
    <small>{{ insight.description }}</small>
  </div>

  <div *ngIf="insight.type === 'card'" class="card">
    <p>{{ insight.message }}</p>
  </div>

  <div *ngIf="insight.type === 'chart'" class="chart">
    <h3>{{ insight.title }}</h3>
    <apx-chart
      *ngIf="insight.chartType === 'pie' || insight.chartType === 'donut'"
      [series]="insight.chartOptions.series"
      [chart]="insight.chartOptions.chart"
      [labels]="insight.chartOptions.labels"
      [responsive]="insight.chartOptions.responsive">
    </apx-chart>

    <apx-chart
      *ngIf="insight.chartType === 'bar'"
      [series]="insight.chartOptions.series"
      [chart]="insight.chartOptions.chart"
      [xaxis]="insight.chartOptions.xaxis">
    </apx-chart>
  </div>
</div>