.visualization-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  .chart-container {
    width: 80%;
    height: 400px;

    .chart {
      width: 100%;
      height: 100%;
    }
  }
}
